@model TemplateRouting.Models.Customer

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    Customers name is @Model.firstName @Model.lastName
</body>
</html>