@{
    ViewBag.Title = "Contact Us";
}
<h1>@ViewBag.Title</h1>

<address>
    Explore California<br />
    <br />
    5605 Nota Street<br />
    Ventura, CA 93003<br />
    <br />
    866.555.4310
</address>

<address>
    <strong>Bookings:</strong>   <a href="mailto:Bookings@explorecalifornia.org">bookings@explorecalifornia.org</a><br />    
</address>


<h2>Live Help</h2>
Username: <input type="text" id="username" />
Message: <input type="text" id="message" /> 
<input type="button" id="send" value="Send" />
<ul id="liveHelp"></ul>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var liveHelp = $.connection.liveHelpHub;
        liveHelp.client.showMessage = function (username, message) {
            $('#liveHelp').append('<li>' + username + ': ' + message + '</li>');
        };

        $.connection.hub.start().done(function () {
            $('#send').click(function () {
                liveHelp.server.sendMessage($('#username').val(), $('#message').val());
                $('#message').val('');
            });
        });
    </script>
}